.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 21, 31);
  min-height: 8rem;
  z-index: 3;
  position: relative;
}

.header * {
  z-index: inherit;
}

.logos {
  display: inline-grid;
  grid-template-columns: [first] auto [second] auto;
  grid-template-rows: [first] auto [second] auto;
  margin: 10px 0 0 3px;
  padding: 10px 0 0 8px;
  height: 5rem;
  column-gap: 13px;
}

.navlinks,
.navlinks a {
  text-align: right;
  color: white;
  font-size: 1.2rem;
}
