.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 21, 31);
  min-height: 140px;
  z-index: 3;
  position: relative;
}

.header * {
  z-index: inherit;
}

.name {
  font-size: min(3rem, 5vw);
  
  line-height: 1.4;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  display: inline-grid;
  grid-template-columns: [first] auto [second] auto;
  grid-template-rows: [first] auto [second] auto;
  margin: 10px 0 0 3px;
  padding: 7px 0 0 22px;
  height: 80px;
  column-gap: 13px;
}

.navlinks,
.navlinks a {
  text-align: right;
  color: white;
  font-size: min(1.3rem, 4.5vw);
}

.grow:hover {
  animation: wiggle 1s linear infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  25% {
    transform: rotate(3deg) scale(1.1);
  }
  75% {
    transform: rotate(-3deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
}
