.container {
  max-width: 50rem;
  margin: auto;
  min-height: 100vh;
}

.container > main,
.container > header {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.background {
  background-color: rgb(22, 22, 22);
  height: 8rem;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.backToHome {
  padding: 1rem 1rem 2rem 2rem;
}

.sky {
  width: 100%;
  height: 100%;
  transform: translateZ(-1);
  position: absolute;
  background-color: rgb(0, 25, 37);
  /* background-image: radial-gradient(
    farthest-corner circle at right 25rem top 4rem,
    rgb(0, 1, 73) 0,
    rgb(0, 1, 59) 100%
  ); */
  z-index: 1;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
}

.cloud {
  animation: moveright linear infinite;
  fill: rgba(255, 255, 255, 0.023) !important;
  position: absolute !important;

  z-index: 2;
}

.cloud1 {
  animation-duration: 160s;
  animation-delay: -30s;
  top: 2.3rem !important;
  width: 50px !important;
  height: 50px !important;
}

.cloud2 {
  animation-duration: 135s;
  animation-delay: -10s;
  top: 1.7rem !important;
  width: 80px !important;
  height: 80px !important;
}

.cloud3 {
  animation-duration: 145s;
  animation-delay: -120s;
  top: 0.6rem !important;
  width: 70px !important;
  height: 70px !important;
}

.cloud4 {
  animation-duration: 153s;
  animation-delay: -100s;
  top: 0.8rem !important;
  width: 60px !important;
  height: 60px !important;
}

.cloud5 {
  animation-duration: 150s;
  animation-delay: 0s;
  top: 1rem !important;
  width: 55px !important;
  height: 55px !important;
}

.cloud6 {
  animation-duration: 160s;
  animation-delay: -120s;
  top: 2rem !important;
  width: 45px !important;
  height: 45px !important;
}

.cloud7 {
  animation-duration: 145s;
  animation-delay: -90s;
  top: 0.3rem !important;
  width: 65px !important;
  height: 65px !important;
}

.cloud8 {
  animation-duration: 139s;
  animation-delay: -50s;
  top: 0.1rem !important;
  width: 70px !important;
  height: 70px !important;
}

.cloud9 {
  animation-duration: 147s;
  animation-delay: -40s;
  top: 0.2rem !important;
  width: 60px !important;
  height: 60px !important;
}

.cloud10 {
  animation-duration: 130s;
  animation-delay: -60s;
  top: 0.5rem !important;
  width: 90px !important;
  height: 90px !important;
}

@keyframes moveright {
  from {
    left: -10%;
  }

  to {
    left: 100%;
  }
}
