.container {
  max-width: 40rem;
  margin: auto;
  min-height: 100vh;
}

.container > * {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.sky {
  height: 20vh;
  width: 100%;
  transform: translateZ(-1);
  position: absolute;
  background-color: rgb(0, 0, 99);
}

.ground {
  z-index: -2;
  height: 200vh;
  width: 100%;
  position: absolute;
  background-color: rgb(22, 22, 22);
  top: 20vh;
  transform: translateZ(-1);
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  --sun-position: calc(100% - 400px) 150px;
}

.parallax__layer {
  /* padding: 100vh 0; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layerbase {
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  background-color: rgb(22, 22, 22);
  /* min-height: 200vh; */
  height: 105%;
  width: 100vw;
  top: 40vh;
  position: fixed;
  background-image: radial-gradient(
    at var(--sun-position),
    rgb(27, 27, 39) 0,
    rgb(22, 22, 22) 100rem
  );
}
.parallax__layerback {
  /* transform: ; */
  z-index: -2;
  background-color: rgb(13, 13, 68);
  background-image: radial-gradient(
    at var(--sun-position),
    rgb(0, 1, 73) 0,
    rgb(22, 22, 22) 100rem
  );
  height: 100vh;
  width: 100vw;
}
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
}

.cloud {
  transform: translateZ(-0.5px) scale(1.5);

  animation: moveright linear infinite;
  fill: rgba(255, 255, 255, 0.685);
  position: absolute;
  z-index: -1;
}

.cloud1 {
  animation-duration: 160s;
  animation-delay: -30s;
  top: -9.5rem;
  width: 50px;
  height: 50px;
}

.cloud2 {
  animation-duration: 135s;
  animation-delay: -10s;
  top: -8rem;
  width: 80px;
  height: 80px;
}

.cloud3 {
  animation-duration: 145s;
  animation-delay: -120s;
  top: -8.6rem;
  width: 70px;
  height: 70px;
}

.cloud4 {
  animation-duration: 153s;
  animation-delay: -100s;
  top: -8.3rem;
  width: 60px;
  height: 60px;
}

.cloud5 {
  animation-duration: 150s;
  animation-delay: 0s;
  top: -9rem;
  width: 55px;
  height: 55px;
}

.cloud6 {
  animation-duration: 160s;
  animation-delay: -120s;
  top: -7.5rem;
  width: 45px;
  height: 45px;
}

.cloud7 {
  animation-duration: 145s;
  animation-delay: -90s;
  top: -7.3rem;
  width: 65px;
  height: 65px;
}

.cloud8 {
  animation-duration: 139s;
  animation-delay: -50s;
  top: -7rem;
  width: 70px;
  height: 70px;
}

.cloud9 {
  animation-duration: 147s;
  animation-delay: -40s;
  top: -7.4rem;
  width: 60px;
  height: 60px;
}

.cloud10 {
  animation-duration: 130s;
  animation-delay: -60s;
  top: -7.9rem;
  width: 90px;
  height: 90px;
}

@keyframes moveright {
  from {
    left: -60%;
  }

  to {
    left: 160%;
  }
}
