html,
body {
  --body-background-color: rgb(20, 20, 22);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  background-color: var(--body-background-color);
  color: white;
}

main {
  --article-background-color: rgb(31, 31, 32);
  background-color: var(--article-background-color);
}

svg {
  fill: white;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(77, 193, 243);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.inline {
  display: flex;
  align-items: center;
}

.flex-horizontal {
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
}

table {
  margin: 10px auto ;
  padding: 13px;
  background: #282828;
  border-radius: 5px;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  flex-shrink: 1;
}

th, td {
  padding: 5px;
}

details {
  margin: 0 auto ;
  background: #282828;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
  --details-padding: 15px;
  padding: 0 var(--details-padding) 0 var(--details-padding);
}

summary {
  margin: 0 calc(-1 * var(--details-padding)) 0 calc(-1 * var(--details-padding));
  padding: 1rem;
  display: block;
  background: #333;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display:none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

code:not(.language-py) {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: inherit; /* 2 */
  background: #3d3d3d;
  color: rgb(241, 236, 228);
  padding: 3px;
  border-radius: 6px;
  text-wrap: nowrap;
}

h2 {
  margin-top: 2rem;
  margin-bottom: -1.8rem;
}

h2::after {
  display: inline-block;
  content: "";
  border-top: .07rem solid rgb(70, 70, 70);
  width: 100%;
  transform: translateY(-1.3rem);
}

/* details > summary > * {
  display: inline;
}

details > div {
  border: 2px solid rgb(52, 52, 52);
  margin-top: 0;
  padding: 1rem;
  
} */


::-webkit-scrollbar {
  width: 1em;
  background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(90, 90, 90);
  border-radius: 7px;
}

dotted-underline {
  border-bottom: 1px dotted #000;
  /* text-decoration: none; */
}
